/* #edit-submit-btn{
    background-color: transparent;
    border: none;

} */


.toggle-edit-btn{
    color: blue;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    cursor: pointer;

}