.navbar-container{
    display: flex;
    justify-content: center;
    border-bottom: .5px solid rgba(0,0,0,0.2);
    background-color: white;
    box-shadow:0px 1px 1px rgba(0,0,0,0.1);
}
.navbar-wrapper{

    display: flex;
    justify-content: space-between;
    width: 80vw;
   
}



.navbar-logo-image {
    /* width: 40px; */
    border-radius: 5px;
   
    max-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    
}

.navbar-logo-wrapper img{
    object-fit: cover;
    border-radius: 8px ;
    margin-left: -12vw;
}
.navbar-logo-wrapper {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0 10px 12vw;
   
}

.navbar-buttons-wrapper a {
    text-decoration: none;
}

.navbar-buttons-wrapper {
    width: 278px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: -1vw;
   
}
.navbar-buttons-wrapper-button {
    
    border-radius: 50%;
    color: #3ab122;
   
    /* display flex causes underline to show ...address this by line 49*/
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.navbar-buttons-wrapper i{
    height: 7px;
    width: 7px;
    padding: 3px;
    margin-right: 5px;
}
/* .navbar-buttons-wrapper button{
    background-color: royalblue;
    border-radius: 5px;
    margin-top: 22px;
    padding: 7px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    color: black;
    cursor: pointer;
} */

.logout-button > button#logout {
    background: royalblue !important;
    border-radius: 5px;
    margin-top: 22px;
    padding: 7px;
    margin-right: 5px;
    color: #0a0c0a;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}