.login-modal-btn{
    background-color:  rgb(0, 204, 255);
    border-radius: 5px;
    margin-top: 22px;
    padding: 7px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    color: black;
    cursor: pointer;
}